name: Project0 CI/CD
on:
   push:
      paths:
         - 'projects/project0/**'

jobs:
   build-and-test:
      runs-on: ubuntu-latest

      defaults:
         run:
            working-directory: projects/project0

      steps:
         - name: Checkout Code
           uses: actions/checkout@v4

         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}

         - name: Build and Push
           uses: docker/build-push-action@v5
           with:
              context: .
              push: true
              tags: johnsonkanyi/project0:latest
